In [49]:
import pandas as pd
import datetime as dt

In [3]:
import numpy as np

In [8]:
raw_df=pd.read_excel('2022_Q1_OR_Utilization.xlsx',index_col=0)

In [11]:
raw_df.describe()

          OR Suite      CPT Code  Booked Time (min)
count  2172.000000   2172.000000        2172.000000
mean      4.288674  44881.405617          77.189227
std       2.163514  18087.419079          30.430015
min       1.000000  14060.000000          30.000000
25%       3.000000  28296.000000          60.000000
50%       4.000000  42826.000000          60.000000
75%       6.000000  66982.000000          90.000000
max       8.000000  69436.000000         180.000000

In [27]:
raw_df.groupby('Service')['Booked Time (min)'].mean().reset_index().sort_values(by='Booked Time (min)', ascending=False).round(decimals=2)

         Service  Booked Time (min)
6        Plastic             110.43
1        General             110.00
2          OBGYN              97.50
7       Podiatry              89.51
4    Orthopedics              87.38
9       Vascular              68.24
0            ENT              67.01
8        Urology              66.06
5     Pediatrics              60.00
3  Ophthalmology              44.64

In [70]:
raw_df['Preperation_time']=(raw_df['Start Time']-raw_df['Wheels In']).astype('timedelta64[m]').astype(int)
raw_df['Actual_time']=(raw_df['Wheels Out']-raw_df['Wheels In']).astype('timedelta64[m]').astype(int)
raw_df

,Date,OR Suite,Service,CPT Code,CPT Description,Booked Time (min),OR Schedule,Wheels In,Start Time,End Time,Wheels Out,Preperation_time,Actual_time
Encounter ID,,,,,,,,,,,,,
10001,2022-01-03,1,Podiatry,28110,"Partial ostectomy, fifth metatarsal head",90,2022-01-03 07:00:00,2022-01-03 07:05:00,2022-01-03 07:32:00,2022-01-03 09:05:00,2022-01-03 09:17:00,27,132
10002,2022-01-03,1,Podiatry,28055,"Neurectomy, intrinsic musculature of foot",60,2022-01-03 08:45:00,2022-01-03 09:48:00,2022-01-03 10:13:00,2022-01-03 11:01:00,2022-01-03 11:12:00,25,84
10003,2022-01-03,1,Podiatry,28297,Lapidus bunionectomy,150,2022-01-03 10:00:00,2022-01-03 11:50:00,2022-01-03 12:20:00,2022-01-03 12:42:00,2022-01-03 12:58:00,30,68
10004,2022-01-03,1,Podiatry,28296,Bunionectomy with distal osteotomy,120,2022-01-03 12:45:00,2022-01-03 13:29:00,2022-01-03 13:53:00,2022-01-03 14:50:00,2022-01-03 15:02:00,24,93
10005,2022-01-03,2,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-01-03 07:00:00,2022-01-03 07:15:00,2022-01-03 07:50:00,2022-01-03 09:38:00,2022-01-03 09:51:00,35,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12168,2022-03-31,7,Pediatrics,69421,"Myringotomy, general anesthesia",60,2022-03-31 10:45:00,2022-03-31 11:59:00,2022-03-31 12:11:00,2022-03-31 12:39:00,2022-03-31 12:51:00,12,52
12169,2022-03-31,7,Pediatrics,69421,"Myringotomy, general anesthesia",60,2022-03-31 12:00:00,2022-03-31 13:20:00,2022-03-31 13:47:00,2022-03-31 14:14:00,2022-03-31 14:28:00,27,68
12170,2022-03-31,8,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-03-31 07:00:00,2022-03-31 07:06:00,2022-03-31 07:45:00,2022-03-31 09:06:00,2022-03-31 09:18:00,39,132
12171,2022-03-31,8,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-03-31 09:15:00,2022-03-31 09:40:00,2022-03-31 10:15:00,2022-03-31 11:40:00,2022-03-31 12:01:00,35,141
12172,2022-03-31,8,Orthopedics,27130,"Arthroplasty, hip",120,2022-03-31 11:30:00,2022-03-31 12:40:00,2022-03-31 13:12:00,2022-03-31 14:40:00,2022-03-31 14:58:00,32,138

In [75]:
raw_df.sort_values(by=['Date','OR Suite','OR Schedule'])

,Date,OR Suite,Service,CPT Code,CPT Description,Booked Time (min),OR Schedule,Wheels In,Start Time,End Time,Wheels Out,Preperation_time,Actual_time
Encounter ID,,,,,,,,,,,,,
10001,2022-01-03,1,Podiatry,28110,"Partial ostectomy, fifth metatarsal head",90,2022-01-03 07:00:00,2022-01-03 07:05:00,2022-01-03 07:32:00,2022-01-03 09:05:00,2022-01-03 09:17:00,27,132
10002,2022-01-03,1,Podiatry,28055,"Neurectomy, intrinsic musculature of foot",60,2022-01-03 08:45:00,2022-01-03 09:48:00,2022-01-03 10:13:00,2022-01-03 11:01:00,2022-01-03 11:12:00,25,84
10003,2022-01-03,1,Podiatry,28297,Lapidus bunionectomy,150,2022-01-03 10:00:00,2022-01-03 11:50:00,2022-01-03 12:20:00,2022-01-03 12:42:00,2022-01-03 12:58:00,30,68
10004,2022-01-03,1,Podiatry,28296,Bunionectomy with distal osteotomy,120,2022-01-03 12:45:00,2022-01-03 13:29:00,2022-01-03 13:53:00,2022-01-03 14:50:00,2022-01-03 15:02:00,24,93
10005,2022-01-03,2,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-01-03 07:00:00,2022-01-03 07:15:00,2022-01-03 07:50:00,2022-01-03 09:38:00,2022-01-03 09:51:00,35,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12168,2022-03-31,7,Pediatrics,69421,"Myringotomy, general anesthesia",60,2022-03-31 10:45:00,2022-03-31 11:59:00,2022-03-31 12:11:00,2022-03-31 12:39:00,2022-03-31 12:51:00,12,52
12169,2022-03-31,7,Pediatrics,69421,"Myringotomy, general anesthesia",60,2022-03-31 12:00:00,2022-03-31 13:20:00,2022-03-31 13:47:00,2022-03-31 14:14:00,2022-03-31 14:28:00,27,68
12170,2022-03-31,8,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-03-31 07:00:00,2022-03-31 07:06:00,2022-03-31 07:45:00,2022-03-31 09:06:00,2022-03-31 09:18:00,39,132
12171,2022-03-31,8,Orthopedics,27445,"Arthroplasty, knee, hinge prothesis",120,2022-03-31 09:15:00,2022-03-31 09:40:00,2022-03-31 10:15:00,2022-03-31 11:40:00,2022-03-31 12:01:00,35,141
12172,2022-03-31,8,Orthopedics,27130,"Arthroplasty, hip",120,2022-03-31 11:30:00,2022-03-31 12:40:00,2022-03-31 13:12:00,2022-03-31 14:40:00,2022-03-31 14:58:00,32,138

In [78]:
raw_df[(raw_df['OR Schedule']==raw_df['Start Time']) & (raw_df['Start Time'].dt.hour==7)].sort_values(['Date','OR Suite','OR Schedule'])

Empty DataFrame
Columns: [Date, OR Suite, Service, CPT Code, CPT Description, Booked Time (min), OR Schedule, Wheels In, Start Time, End Time, Wheels Out, Preperation_time, Actual_time]
Index: []

In [95]:
raw_df['case_delay']=(raw_df['Wheels In']-raw_df['OR Schedule']).astype('timedelta64[m]').astype(int)

In [111]:
raw_df[(raw_df['OR Schedule'].dt.strftime('%H:%M')=='07:00') & (raw_df['case_delay']<=5)]

Date        OR Suite  Service        CPT Code  CPT Description                                Booked Time (min)  OR Schedule          Wheels In            Start Time           End Time             Wheels Out           Preperation_time  Actual_time  case_delay
2022-01-03  1         Podiatry       28110     Partial ostectomy, fifth metatarsal head       90                 2022-01-03 07:00:00  2022-01-03 07:05:00  2022-01-03 07:32:00  2022-01-03 09:05:00  2022-01-03 09:17:00  27                132          5             1
2022-02-28  6         Plastic        17110     Removal of benign skin lesion                  60                 2022-02-28 07:00:00  2022-02-28 07:04:00  2022-02-28 07:20:00  2022-02-28 07:54:00  2022-02-28 08:05:00  16                61           4             1
2022-03-01  2         Orthopedics    64721     Carpal tunnel release, open                    60                 2022-03-01 07:00:00  2022-03-01 07:05:00  2022-03-01 07:28:00  2022-03-01 08:05:00  2022-03-01 08:17:00  23                72           5             1
            5         ENT            42826     Tonsillectomy                                  60                 2022-03-01 07:00:00  2022-03-01 07:01:00  2022-03-01 07:22:00  2022-03-01 07:50:00  2022-03-01 08:06:00  21                65           1             1
            7         Vascular       28820     Digital amputation, metatarsophalangeal joint  60                 2022-03-01 07:00:00  2022-03-01 07:04:00  2022-03-01 07:25:00  2022-03-01 07:55:00  2022-03-01 08:08:00  21                64           4             1
                                                                                                                                                                                                                                                                      ..
2022-02-02  7         Vascular       28820     Digital amputation, metatarsophalangeal joint  60                 2022-02-02 07:00:00  2022-02-02 07:04:00  2022-02-02 07:25:00  2022-02-02 07:55:00  2022-02-02 08:08:00  21                64           4             1
2022-02-03  3         Ophthalmology  66982     Extracapsular cataract removal                 45                 2022-02-03 07:00:00  2022-02-03 07:03:00  2022-02-03 07:13:00  2022-02-03 07:31:00  2022-02-03 07:38:00  10                35           3             1
            4         OBGYN          58562     Hysterectomy, surgical                         120                2022-02-03 07:00:00  2022-02-03 07:03:00  2022-02-03 07:23:00  2022-02-03 08:40:00  2022-02-03 08:54:00  20                111          3             1
            5         ENT            42826     Tonsillectomy                                  60                 2022-02-03 07:00:00  2022-02-03 07:04:00  2022-02-03 07:24:00  2022-02-03 07:49:00  2022-02-03 08:00:00  20                56           4             1
2022-03-31  6         Plastic        17110     Removal of benign skin lesion                  60                 2022-03-31 07:00:00  2022-03-31 07:04:00  2022-03-31 07:20:00  2022-03-31 07:54:00  2022-03-31 08:05:00  16                61           4             1
Length: 231, dtype: int64